<!doctype html>
<html lang="en">
<head>
    <title>Sample App</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<form id="test" action="/api/setter">
    Timeout:<br>
    <input type="text" name="timeout" value="5">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>

<script type="text/javascript">

    $("#test").submit(function (e) {

        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                alert(data.msg);
                window.location = "/";
            }
        });

    });

</script>

</html>
